<div class="container">
  <h1>Lista de atividades</h1>

<div class="atividade">
  <h2>Atividade 1</h2>
  <app-contador></app-contador>
</div>
<div class="atividade">
  <h2 >Lista de Itens: Atividade 2 e 3</h2>
  <app-list-items></app-list-items>
</div>

  <div class="atividade"> 
    <h2>Atividade 4</h2>
    <app-form-cadastro></app-form-cadastro>
  </div>

  <div class="atividade">
    <h2>Atividade 5</h2>
    <app-controle-acesso></app-controle-acesso>
  </div>

<div class="atividade">
  <h2>Atividade 6</h2>
  <app-componente-pai></app-componente-pai> 
</div> 

<div class="atividade">
 <h2>Atividade 7</h2>
  <router-outlet></router-outlet>

</div>

<div class="atividade">
  <h2>Atividade 8</h2>
  <app-dados-alunos></app-dados-alunos>
</div>

</div>
